#grad {
  background-image: linear-gradient(rgb(168, 182, 214),rgb(231, 217, 210));
}

#Schedule-Title h1{
  background-color: #b996a4;
  font-size: 50px;
  margin: 0%;
  width: 65.4%;
  color: #E7D9D2;
  text-transform: uppercase;
  font-weight: 30;
  padding-left: 100px;
  padding-top: 135px;
  padding-bottom: 19px;
}

#Schedule {
    background-color: #B996A4;
    font-size: 30px;
    font-family: Moon, Dosis;
    color: #E7D9D2;
    border-collapse: collapse;
    width: 50%;
  }

  #Schedule-Body {
    font-family: Moon, Dosis;
    background-color: #B996A4;
    padding-bottom: 135px;
    padding-left: 100px;
    width: 65.4%;
  }

  #schedule td{
    font-family: Moon, Dosis;
    padding: 3px;
    padding-left: 100px;
    text-align: center;
    font-weight: 300;
    vertical-align: middle;
    color: #E7D9D2;
  }
  