.login{
    color: orange; 
    background-color: #282c34;    /* sets bg color same to main page */
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    text-align: center;
}

.login-link{
   color: orange;
   background-color: #282c34;    /* sets bg color same to main page */
   min-height: 30vh;
   display: inline-flex;
   width: 25%; /* three boxes (use 25% for four, and 50% for two, etc) */
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   text-align: center;
}