.volunteer{
    color: green;   /* sets big word to green */
    background-color: #282c34;    /* sets background same as main page */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
}

