.applicant{
   	color: green;  
    background-color: #282c34;    /* sets background same as main page */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    text-align: center;
}