.App-nav {
    background-color: #2a2834;
}

.HackMerced-logo{
   /* Adjusting the HackMerced logo */
  position: relative;
  left: 10px; /* positioning to correct location */
  top: 4px;
    max-height: 100%; /* adaptive height */
      max-width: 100%; /* adaptive width */
}

.nav-link{ /* This adjusts the containers themselves */
   display: inline-flex; /* makes containers inline horizontally */
   width: 10.5%; /* 8 sections/100 adjusted for padding */
   align-items: center; 
   justify-content: center; /* centers items inside the divs */
   font-size: 25px;
   padding-left:12.5px;
   padding-right:12.5px;
   min-height: 8vh;
   padding-bottom: 10px;
   padding-top: 5px;
}

/* I had to seperate the CSS for links and nav bars as the changes wouldn't work through the containers*/

.style-link{ /* This adjusts the React Router links themselves */
  color: white;
  text-decoration: none; /* removes underscores of the links */
}