 .App-contact {
    background-color: #282c44;
    color: white;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
}
.contact-name {
    color: black;
}
.contact-email {
    color: black;
}
.contact-message {
    color: black;
}