.digitalocean  {
    right: 270px;
    bottom: 15px;
    position: relative;
    width: 100%;
    max-width: 210px;
    height: 200px;

}
.roche { 
    bottom: 215px;
    left: 250px;
    position: relative;
    width: 100%;
    max-width: 225px;
    height: 150px;
}
.asucm {
    left: 525px;
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 200px;   
}
.password { /* 1 password logo position & size */
    right: 75px;
    bottom: 50px;
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 50px;
}
.sketch { /* sketch position & size*/
    bottom: 200px;
    position: relative;
    left: 150px;
    width: 100%;
    max-width: 280px;
    height: 125px;
}
.App-Sponsors { /* background color */
    background-color:#2a2834 
}
.right { /* Title - (Sponsors) styling */
    text-align: center;
    border-bottom: solid;
    border-color: rgb(209, 104, 5);
    border-radius: 5px;
    border-bottom-width: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-end-end-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 5px;
    line-height: 50px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.sponsoring { /* entire icons styling */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 12.5px;
    padding-right: 12.5px;
    min-height: 8vh;
    border: 0;
}
.column { /* top icons position & size*/
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after { /* row display */
    content: "";
    clear: both;
    display: table;
  }
    
    
    /* iPhone 6, 7, 8 6+, 7+, 8+ ----------- */
    @media (min-width: 320px) and (max-width: 480px){
    
      /* Styles */
        .digitalocean  {
            right: 130px;
            bottom: 20px;
            position: relative;
            width: 100%;
            max-width: 120px;
            height: 100px;
        
        }
        .roche { 
            bottom: 140px;
            left: 130px;
            position: relative;
            width: 100%;
            max-width: 110px;
            height: 80px;
        }
        .asucm {
            left: 245px;
            top: 5px;
            position: relative;
            width: 100%;
            max-width: 110px;
            height: 90px;   
        }
        .password {
            right: 35px;
            bottom: 48px;
            position: relative;
            width: 100%;
            max-width: 150px;
            height: 25px;
        }
        .sketch {
            bottom: 140px;
            position: relative;
            left: 100px;
            width: 100%;
            max-width: 150px;
            height: 55px;
        }
        .App-Sponsors {
            background-color:#2a2834 
        }
        .right {
            text-align: center;
            border-bottom: solid;
            border-color: rgb(209, 104, 5);
            border-radius: 5px;
            border-bottom-width: 5px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-end-end-radius: 2px;
            border-top-left-radius: 2px;
            border-top-right-radius: 5px;
            line-height: 50px;
            
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }
        .sponsoring {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 12.5px;
            padding-right: 12.5px;
            min-height: 8vh;
            border: 0;
        }
        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }
        .row::after {
            content: "";
            clear: both;
            display: table;
          }
        }
